name: Deploy Node Server via SSM

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to EC2 using SSM
        run: |
          aws ssm send-command \
            --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Node Backend" \
            --parameters commands="[
              \"cd /home/ssm-user/app/Back-End\",
              \"cat << 'EOF' > .env\",
              \"${{ secrets.ENV }}\",
              \"EOF\",
              \"git pull origin main\",
              \"npm install\",
              \"pm2 restart backend --update-env || pm2 start src/index.js --name backend\"
            ]"
