name: Node Backend Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH로 EC2에 접속하여 Node Backend 배포
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            set -e
            export PATH=$PATH:/usr/bin:/usr/local/bin

            cd /home/ubuntu/app/Back-End

            echo '${{ secrets.ENV }}' > .env

            git pull origin main

            chmod +x /home/ubuntu/deploy.sh

            /home/ubuntu/deploy.sh