name: Deploy to EC2 via SSM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy using SSM
        run: |
          aws ssm send-command \
            --instance-ids "i-0019e302a387d0b62" \
            --document-name "AWS-RunShellScript" \
            --comment "GitHub Actions Deploy" \
            --parameters commands="[
              \"cd /home/ssm-user/app || exit\",
              \"git pull\",
              \"echo DEPLOY_OK\"
            ]"
